@import "./utils";

table {
	width: 100%;
}

tbody tr,
tbody td {
	text-align: center;
	background-color: #e6f3fe;
	height: 2.5rem;
}

thead {
	background-color: #b1d4f1;
}

tr {
	color: #000;
	.에픽 {
		color: $epic;
	}
	.유니크 {
		color: $unique;
	}
	.레어 {
		color: $rare;
	}
	.언커먼 {
		color: $uncommon;
	}
	.커먼 {
		color: $common;
	}
	.크로니클 {
		color: $chronicle;
	}
	.레전더리 {
		color: $legendary;
	}
	.신화 {
		@include myth();
	}
}

td img {
	margin-right: 0px;
}

caption {
	height: 40px;
	font-weight: 500;
	font-size: 1.5rem;
}

th.image {
	width: 40px;
}

tr#setInfo td {
	padding: 1rem 0;
}
