table {
	width: 100%;
}

tbody tr,
tbody td {
	text-align: center;
	background-color: #e6f3fe;
}

thead {
	background-color: #b1d4f1;
}

tr {
	.에픽 {
		color: #ffb400;
	}
	.유니크 {
		color: #ff00ff;
	}
	.레어 {
		color: #b36bff;
	}
	.언커먼 {
		color: #68d5ed;
	}
	.커먼 {
		color: black;
	}
	.크로니클 {
		color: #ff6666;
	}
	.레전더리 {
		color: #ff7800;
	}
	.신화 {
		background: linear-gradient(180deg, #ffb400 0%, #ff00ff 100%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

td img {
	margin-right: 0px;
}

caption {
	height: 40px;
	font-weight: 500;
	font-size: 1.5rem;
}

th.image {
	width: 40px;
}

tr#setInfo {
	height: 6rem;
}
