.CharDetail {
    display: flex;
    flex-direction: row;
    .simpleInfo {
        .charImg {
            
        }
        .info {
            text-align: center;
        }
    }
    .detailInfo {

    }
}