.tabs {
  height: 30px;
  button {
    height: 100%;
    background-color: #72ADDE;
    border-top: #68a0cf 1px solid;
    border-left: #68a0cf 1px solid;
    border-right: #68a0cf 1px solid;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0px;
    color: whitesmoke;
    font-size: 1rem;
  
    &:hover {
      background: #68a0cf;
      color: #ffffff;
    }
  }
  
  button.active {
    color: #1679CB;
    background: white;
  }
}


