$max-width: 1920px;
@function get-vw($target) {
	$vw-context: ($max-width * 0.01);
	@return ($target / $vw-context) * 1vw;
}
.ItemDetail {
	width: 34vw;
	margin-left: 33vw;
	margin-right: 33vw;
	margin-top: 6rem;
	margin-bottom: 6rem;
	border-radius: 4px;

	.title {
		width: 34vw;
		background: #6b86ed;
		color: black;
		height: 4rem;
		font-size: 1.5rem;
		@media (max-width: 1300px) {
			font-size: 1.25rem;
		}
		align-items: center;
		justify-content: center;
		display: flex;
	}

	.content {
		width: 34vw + get-vw(300px);
		font-size: 1rem;
		@media (max-width: 1300px) {
			font-size: 0.75rem;
		}
		img {
			width: 40px;
			height: auto;
			margin: 10px;
		}
		.header {
			width: 34vw;
			background: wheat;
			display: grid;
			grid-template-columns: 60px 1fr;
			.name {
				align-self: center;
				text-align: center;
			}
		}
		.bodyset {
			display: flex;
			flex-direction: row;
			.body {
				width: 34vw - get-vw(20px);
				padding: get-vw(10px);
				background-color: #f8edd9;
				height: 100%;
				.changeDetail,
				.changeViewSet {
					display: flex;
					justify-content: flex-end;
				}
			}
			.set {
				width: get-vw(300px) - get-vw(20px);
				padding: get-vw(10px);
				background-color: wheat;
				height: 100%;
			}
		}
	}
}
