.ListItem {
    padding: 1rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    &:nth-child(even) {
        background: #f8f9fa;
    }

    & + & {
        border-top: 1px solid #dee2e6;
    }
}

.ListItem img {
    margin-right: 10px;
}