.SearchAuc {
	display: flex;
	width: 70vw;
	justify-content: space-around;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 6rem;

	.main {
		width: 30vw;
		border-radius: 4px;
		overflow: hidden;
		.app-title {
			background: #22b8cf;
			color: white;
			height: 4rem;
			font-size: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	div.recent,
	div.frequently {
		width: 15vw;
		// border: 1px solid black;
	}
}

.title {
	height: 3rem;
	background-color: wheat;
	// font-size: 1.125rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item {
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	height: 3rem;
	&:nth-child(odd) {
		background-color: #FCF1DE;
	}
	& + & {
		border-top: 1px solid #dee2e6;
	}

	img {
		padding: 10px;
	}
}
